name: Release - Build and Deploy

on:
  push:
    branches:
      - 'releases/**'
  workflow_dispatch:
    inputs:
      runner_name:
        type: choice
        description: >
          Self-hosted runner to run the build. Leave blank (default value) to use the runner selected by GitHub
        options:
          - ''
          - bamboo
          - builder1
          - builder2
          - builder3
          - builder4
          - builder5
          - builder6
        default: ''
      build_description:
        description: >
          Optional additional info about the build
        type: string
      xcode_version_override:
        description: >
          Optional Xcode version override. Leave blank (default value) to use the default Xcode version; 
          pass a custom value (e.g. '16.0', '10.2.1', '11 Beta 7', '11.2 GM seed', etc) to use a different Xcode version for the build
        type: string
      build_version_override:
        description: >
          Optional build version override. Leave blank (default value) to use the default value derived from the branch name
        type: string
      build_number_override:
        description: >
          Optional build number override. Leave blank (default value) to use the latest value obtained from App Store Connect + 1
        type: string
      # TODO: Enable by default, requires IOS-8942
      analyze_archive:
        description: >
          Whether the archive should be analyzed during the build process (default: false)
        type: boolean
        default: false

concurrency:
  group: '${{ github.workflow }} (${{ github.head_ref || github.ref_name }})'
  cancel-in-progress: true

env:
  SSH_AUTH_SOCK: /tmp/ssh_agent.sock

jobs:
  prepare:
    name: Prepare information
    runs-on: macos-15
    environment: 'RC'
    outputs:
      stage: 'RC'
      version: '${{ env.release_version_number }}'
      build_number: '${{ env.release_build_number }}'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
          ssh-key: ${{ secrets.IOS_DEPENDENCIES_READ_ONLY_SSH_KEY }}

      - name: Authorize SSH session
        env:
          SSH_KEY: ${{ secrets.IOS_DEPENDENCIES_READ_ONLY_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com > ~/.ssh/known_hosts
          echo "${SSH_KEY}" > ~/.ssh/ios_dependencies_ssh_key
          chmod 600 ~/.ssh/ios_dependencies_ssh_key
          ssh-agent -a "${SSH_AUTH_SOCK}" > /dev/null || true
          ssh-add ~/.ssh/ios_dependencies_ssh_key

      # When using Github runner images, the preferred way of setting the Ruby version is to use this official action instead of using rvm/rbenv
      - name: Install Ruby
        uses: ruby/setup-ruby@a2bbe5b1b236842c1cb7dd11e8e3b51e0a616acc  # v1.202.0

      # Skipping Ruby installation since it has been already installed by an action above
      - name: Install required dependencies
        run: ./bootstrap.sh --skip-ruby

      - name: Get Release Version
        id: get-release-version
        env:
          BUILD_VERSION_OVERRIDE: '${{ inputs.build_version_override }}'
          BRANCH_NAME: '${{ github.head_ref || github.ref_name }}'
        run: |
          # The initialization of rbenv is required before every `bundle` call since Gihub Actions spawns each 'run' step in a separate process
          eval "$(rbenv init - bash)"

          bundle exec fastlane \
          get_release_version_number \
          build_version_override:"${BUILD_VERSION_OVERRIDE}" \
          branch_name:"${BRANCH_NAME}"

      - name: Get Build Number
        id: get-build-number
        env:
          BUILD_NUMBER_OVERRIDE: '${{ inputs.build_number_override }}'
          ASC_KEY_ID: '${{ secrets.ASC_KEY_ID }}'
          ASC_ISSUER_ID: '${{ secrets.ASC_ISSUER_ID }}'
          ASC_PRIVATE_KEY: '${{ secrets.ASC_PRIVATE_KEY }}'
        run: |
          # The initialization of rbenv is required before every `bundle` call since Gihub Actions spawns each 'run' step in a separate process
          eval "$(rbenv init - bash)"

          bundle exec fastlane \
          get_release_build_number \
          build_number_override:"${BUILD_NUMBER_OVERRIDE}" \
          branch_name:"${BRANCH_NAME}" \
          asc_key_id:"${ASC_KEY_ID}" \
          asc_issuer_id:"${ASC_ISSUER_ID}" \
          asc_key:"${ASC_PRIVATE_KEY}"

  build_notification:
    name: Build Notification
    uses: tangem-developments/actions/.github/workflows/notification.yml@main
    needs: prepare
    with:
      channel: '${{ vars.SLACK_CHANNEL_DEPLOYMENTS_IOS }}'
      status: 'building'
      deploy_to: '${{ vars.DEPLOYMENT_APPLE_TESTFLIGHT }}'
      version: '${{ needs.prepare.outputs.version }}'
      build_number: '${{ needs.prepare.outputs.build_number }}'
      build_description: '${{ inputs.build_description }}'
      is_archive_analyzed: '${{ inputs.analyze_archive }}'
    secrets:
      SLACK_BOT_TOKEN: '${{ secrets.SLACK_BOT_TOKEN }}'

  build:
    name: Tangem Release
    needs: prepare
    uses: tangem-developments/actions/.github/workflows/build.yml@main
    with:
      stage: '${{ needs.prepare.outputs.stage }}'
      version: '${{ needs.prepare.outputs.version }}'
      build_number: '${{ needs.prepare.outputs.build_number }}'
      path: 'fastlane/builds/'
      filename: 'Tangem-${{ needs.prepare.outputs.stage }}-${{ needs.prepare.outputs.version }}(${{ needs.prepare.outputs.build_number }}).ipa'
      xcode_version_override: '${{ inputs.xcode_version_override }}'
      arm_runners_only: true
      # GA boolean inputs are just awful https://stackoverflow.com/questions/76292948
      # - The reusable workflow requires all input params to be of type string, so we use this ugly ternary operator here
      # - When a workflow is triggered by push, there is no input, therefore the condition
      #  `github.event_name == 'push'` provides the default value (`true`) in this case
      #analyze_archive: ${{ (github.event_name == 'push' || inputs.analyze_archive == true) && 'true' || 'false' }}
      analyze_archive: ${{ inputs.analyze_archive == true && 'true' || 'false' }}  # TODO: Enable by default, requires IOS-8942
      runner_name: ${{ inputs.runner_name }}
    secrets:
      FIREBASE_APP_ID: '${{ secrets.FIREBASE_APP_ID }}'
      IOS_DEPENDENCIES_READ_ONLY_SSH_KEY: '${{ secrets.IOS_DEPENDENCIES_READ_ONLY_SSH_KEY }}'

  deploy_notification:
    name: Deploy Notification
    uses: tangem-developments/actions/.github/workflows/notification.yml@main
    needs:
      - prepare
      - build
      - build_notification
    with:
      channel: '${{ vars.SLACK_CHANNEL_DEPLOYMENTS_IOS }}'
      message_ts: '${{ needs.build_notification.outputs.ts }}'
      status: 'deploying'
      deploy_to: '${{ vars.DEPLOYMENT_APPLE_TESTFLIGHT }}'
      version: '${{ needs.prepare.outputs.version }}'
      build_number: '${{ needs.prepare.outputs.build_number }}'
      build_description: '${{ inputs.build_description }}'
      is_archive_analyzed: '${{ inputs.analyze_archive }}'
    secrets:
      SLACK_BOT_TOKEN: '${{ secrets.SLACK_BOT_TOKEN }}'

  deploy:
    name: Tangem Release TestFlight
    uses: tangem-developments/actions/.github/workflows/deploy-testflight.yml@main
    needs:
      - prepare
      - build
    with:
      stage: '${{ needs.prepare.outputs.stage }}'
      version: '${{ needs.prepare.outputs.version }}'
      build_number: '${{ needs.prepare.outputs.build_number }}'
      changelog: '${{ inputs.build_description }}'
      filename: 'Tangem-${{ needs.prepare.outputs.stage }}-${{ needs.prepare.outputs.version }}(${{ needs.prepare.outputs.build_number }}).ipa'
      runner_name: ${{ inputs.runner_name }}
    secrets:
      ASC_KEY_ID: '${{ secrets.ASC_KEY_ID }}'
      ASC_PRIVATE_KEY: '${{ secrets.ASC_PRIVATE_KEY }}'
      ASC_ISSUER_ID: '${{ secrets.ASC_ISSUER_ID }}'
      IOS_DEPENDENCIES_READ_ONLY_SSH_KEY: '${{ secrets.IOS_DEPENDENCIES_READ_ONLY_SSH_KEY }}'

  success_notification:
    name: Success Notification
    uses: tangem-developments/actions/.github/workflows/notification.yml@main
    needs:
      - prepare
      - build
      - deploy
      - build_notification
    with:
      channel: '${{ vars.SLACK_CHANNEL_DEPLOYMENTS_IOS }}'
      message_ts: '${{ needs.build_notification.outputs.ts }}'
      status: 'success'
      deploy_to: '${{ vars.DEPLOYMENT_APPLE_TESTFLIGHT }}'
      version: '${{ needs.prepare.outputs.version }}'
      build_number: '${{ needs.prepare.outputs.build_number }}'
      build_description: '${{ inputs.build_description }}'
      is_archive_analyzed: '${{ inputs.analyze_archive }}'
    secrets:
      SLACK_BOT_TOKEN: '${{ secrets.SLACK_BOT_TOKEN }}'

  error_notification:
    name: Error Notification
    if: failure()
    uses: tangem-developments/actions/.github/workflows/notification.yml@main
    needs:
      - prepare
      - build
      - deploy
      - build_notification
    with:
      channel: '${{ vars.SLACK_CHANNEL_DEPLOYMENTS_IOS }}'
      message_ts: '${{ needs.build_notification.outputs.ts }}'
      status: 'error'
      deploy_to: '${{ vars.DEPLOYMENT_APPLE_TESTFLIGHT }}'
      version: '${{ needs.prepare.outputs.version }}'
      build_number: '${{ needs.prepare.outputs.build_number }}'
      build_description: '${{ inputs.build_description }}'
      is_archive_analyzed: '${{ inputs.analyze_archive }}'
    secrets:
      SLACK_BOT_TOKEN: '${{ secrets.SLACK_BOT_TOKEN }}'

  cancel_notification:
    name: Cancel Notification
    if: cancelled()
    uses: tangem-developments/actions/.github/workflows/notification.yml@main
    needs:
      - prepare
      - build
      - deploy
      - build_notification
    with:
      channel: '${{ vars.SLACK_CHANNEL_DEPLOYMENTS_IOS }}'
      message_ts: '${{ needs.build_notification.outputs.ts }}'
      status: 'cancel'
      deploy_to: '${{ vars.DEPLOYMENT_APPLE_TESTFLIGHT }}'
      version: '${{ needs.prepare.outputs.version }}'
      build_number: '${{ needs.prepare.outputs.build_number }}'
      build_description: '${{ inputs.build_description }}'
      is_archive_analyzed: '${{ inputs.analyze_archive }}'
    secrets:
      SLACK_BOT_TOKEN: '${{ secrets.SLACK_BOT_TOKEN }}'
