name: Alpha - Build and Deploy 

on:
  workflow_dispatch:

env:
  STAGE: Alpha
  
jobs:
 prepare:
   name: Prepare information
   runs-on: self-hosted
   outputs:
     version: ${{ steps.jira.outputs.key }}
     build_number: ${{ github.run_number }}
     changelog: ${{ steps.jira.outputs.summary }}
   steps:
   - name: Jira Login
     uses: atlassian/gajira-login@master
     env:
       JIRA_BASE_URL: ${{ secrets.JIRA_URL }}
       JIRA_USER_EMAIL: ${{ secrets.JIRA_USER }}
       JIRA_API_TOKEN: ${{ secrets.JIRA_TOKEN }}
        
   - name: Get Jira Issue Number from Branch Name
     id: jira
     uses: tangem/jira-action@master
     with:
       action: getBranchSummary
       branch-name: ${{ github.ref_name }}

 build:
   name: Tangem Alpha
   needs: prepare
   uses: tangem/actions/.github/workflows/build.yml@main
   with:
    stage: ${{env.STAGE}}
    version: "${{needs.prepare.outputs.version}}"
    build_number: ${{needs.prepare.outputs.build_number}}
    path: "fastlane/builds/"
    filename: "Tangem-${{env.STAGE}}-${{needs.prepare.outputs.version}}(${{needs.prepare.outputs.build_number}}).ipa"
   secrets:
    GH_MOBILE_PAT: ${{ secrets.GH_MOBILE_PAT}}
     
 deploy:
   name: Google Distribution
   needs: [prepare,build]
   uses: tangem/actions/.github/workflows/deploy.yml@main
   with:
    stage: ${{env.STAGE}}
    version: "${{needs.prepare.outputs.version}}"
    build_number: ${{needs.prepare.outputs.build_number}}
    changelog: "${{needs.prepare.outputs.changelog}}"
    filename: "Tangem-${{env.STAGE}}-${{needs.prepare.outputs.version}}(${{needs.prepare.outputs.build_number}}).ipa"
   secrets:
    FIREBASE_APP_ID: ${{ secrets.FIREBASE_IOS_ALPHA_ID}}
    FIREBASE_CLI_TOKEN: ${{ secrets.FIREBASE_CLI_TOKEN}}
   
 notification:
   name: Deploy Notification
   needs: [prepare,deploy]
   uses: tangem/actions/.github/workflows/notification.yml@main
   with: 
    channel: ${{vars.SLACK_CHANNEL_DEPLOYMENTS_IOS}}
    status: "success"
    app_name: ${{vars.APP_ALPHA}}
    deploy_to: ${{vars.DEPLOYMENT_GOOGLE_DISTRIBUTION}}
    version: ${{needs.prepare.outputs.version}}
    build_number: ${{needs.prepare.outputs.build_number}}
    changelog: ${{needs.prepare.outputs.changelog}}
   secrets:
    SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN}}
    
 error_notification:
   name: Error Notification
   if: failure()
   needs: [prepare,deploy]
   uses: tangem/actions/.github/workflows/notification.yml@main
   with: 
    channel: ${{vars.SLACK_CHANNEL_DEPLOYMENTS_IOS}}
    status: "error"
    app_name: ${{vars.APP_ALPHA}}
    deploy_to: ${{vars.DEPLOYMENT_GOOGLE_DISTRIBUTION}}
    version: ${{needs.prepare.outputs.version}}
    build_number: ${{needs.prepare.outputs.build_number}}
    changelog: ${{needs.prepare.outputs.changelog}}
   secrets:
    SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN}}
